#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-card-head {
  background: #cad8e6 !important;
}

.ant-layout-header {
  background: #f0f2f5 !important;
}

.h1-style {
  color: #15487d;
  text-align: left;
  float: left;
}
